@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* J'ai mis une image en background au lieu d'import l'image dans le html */
header {
    background: url("assets/banner.jpg");
    background-size: cover;
    background-position: 50% 25%;
    height: 15em;
}

/* J'ai redimensionné l'image de mon header */
header img {
    width: 100%;
    height: 100%;
}

/* Ici je modifie mon container pour qu'il soit en flexbox et qu'il soit centré */
.container {
    display: flex;
    justify-content: center;
}

/* Ici est la div des informations */
.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Ici est le texte contenant l'adresse, le numéro de téléphone et l'email de l'entreprise */
.info p1 {
    margin-bottom: 20px;
}

/* Ici sont les logos des réseaux sociaux */
.logo img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

/* J'ai mis un effet de scale sur les logos des réseaux sociaux quand on hover avec la souris */
.logo img:hover {
    transform: scale(1.1);
}

/* Ici est la div de mon formulaire */
.form {
    background-color: white;
    padding: 30px;
    border-radius: 7px;
    box-shadow: 0px 0px 10px 4px rgba(138, 200, 215, 0.14);
}

/* Ici est la div de mon formulaire et des informations */
.content {
    width: 25em;
    position: relative;
    top: -50px;
}

/* Ici est le texte "Contactez-nous" */
.contact {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: -5px;
    margin-bottom: 10px;
}

.form p1 {
    line-height: 150%;
}

/* Ici, j'ai set ma box pour le choix des bouttons */
.esport_box {
    background-color: #efefef;
    border-radius: 20px;
    position: relative;
    width: 78%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
}

/* Ici, j'ai modifié mes boutons pour qu'ils correspondent à la taille de ma box */
.toggle {
    background: transparent;
    border: 0;
    font-weight: bold;
    position: relative;
    top: -2px;
    padding: 10px 10px;
    margin: auto;
    outline: none;
    cursor: pointer;
    width: 50%;
}

/* J'ai redimentionné les images des bouttons ici*/
.toggle img {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    position: relative;
    top: 3px;
}

/* J'ai modifié la couleur du bouton quand on clique dessus et j'ai ajouté l'effet de slide en utilisant JS */
#esport_btn {
    transition: 0.2s;
    background: #0ab5ed;
    border-radius: 20px;
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
}

/* Ici je modifie la forme de la bordure des inputs */
input {
    background-color: #ffffff00;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 10px;
}

/* Ici je modifie la couleur et la taille de la bordure des inputs */
.single_input input {
    border-bottom: 1px solid #d0d0d0;
}

/* Ici je désactive l'outline des inputs quand on clique dessus */
input:focus, input:active, textarea {
    outline: none;
}

/* Ici j'ai set la flexbox pour les inputs */
.single_input {
    display: flex;
    flex-direction: column;
}

/* Ici j'ai set les inputs Nom / Prénom et Code Postal / Ville sur la même ligne */
.input_size {
    display: flex;
    justify-content: space-between;
}

/* J'ai modifié la taille des inputs Nom / Prénom et Code Postal / Ville */
.input_size .single_input {
    width: 100%;
}

/* J'ai fais en sorte qu'il y ait un espace entre les inputs Nom / Prénom et Code Postal / Ville */
.input_size .single_input:first-child {
    margin-right: 20px;
}

/* Ici j'ai modifié la couleur et la largeur de la checkbox */
input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    border: 2px solid #9dd129;
    border-radius: 4px;
    margin-bottom: -2px;
    width: 14px;
    height: 14px;
}

/* Ici j'ai modifié la couleur et la taille du checkmark de la checkbox */
input[type="checkbox"]:checked::before {
    background-color: #9dd129;
    border-radius: 2px;
    border: 2px solid #9dd129;
    content: "";
    display: block;
    margin-left: 10%;
    margin-top: 10%;
    width: 4px;
    height: 4px;
}

/* Ici j'ai modifié la taille du label de la checkbox */
label[for="checkbox"] {
    font-size: 80%;
    margin-left: 5px;
}

/* J'ai modifié la couleur du bouton ENVOYER et sa taille */
.button button {
    background-color: #9dd129;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    border: none;
    padding: 5px 20px;
    margin-top: 20px;
    margin-left: 35%;
    width: 30%;
    height: 40px;
}

/* J'ai modifié la couleur du bouton ENVOYER quand on hover avec la souris */
.button button:hover {
    transform: scale(1.05);
    background-color: #789c29;
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Ici est le CSS pour le responsive sur écrans de 480px à 768px de largeur */
@media screen and (min-width: 480px) and (max-width: 768px){
    .container {
        flex-wrap: wrap-reverse;
    }

    .form {
        width: 65%;
    }

    .info {
        width: 50%;
        text-align: left;
        padding-right: 20px;
        margin-top: 5%;
    }

    .info p1 {
        font-size: 0.8em;
    }

    .button button {
        width: 50%;
        height: 40px;
        margin-left: 25%;
    }

    .esport_box {
        width: 80%;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .toggle {
        margin: auto;
    }

    #esport_btn {
        width: 50%;
    }

    .input_size {
        flex-direction: column;
    }

    .input_size .single_input {
        width: 100%;
        margin-right: 0;
    }

    .input_size .single_input:first-child {
        margin-bottom: 10px;
    }
}

/* Ici est le CSS pour le responsive sur écrans à 480px de largeur maximum */
@media screen and (max-width: 480px){
    .container {
        flex-wrap: wrap-reverse;
    }

    .form {
        width: 75%;
    }

    .info {
        width: 50%;
        text-align: left;
        padding-right: 20px;
        margin-top: 5%;
    }

    .info p1 {
        font-size: 0.7em;
    }

    .button button {
        width: 50%;
        margin-left: 25%;
    }

    .esport_box {
        width: 100%;
    }

    .toggle {
        margin: auto;
    }

    #esport_btn {
        width: 50%;
    }

    .input_size {
        flex-direction: column;
    }

    .input_size .single_input {
        width: 100%;
        margin-right: 0;
    }

    .input_size .single_input:first-child {
        margin-bottom: 10px;
    }
}
