@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

body{
    /* background-color: aqua; */
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* J'ai mis une image en background au lieu d'import l'image dans le html */
header{
    background: url("assets/banner.jpg");
    background-size: cover;
    background-position: 50% 25%;
    height: 15em;
}

/* J'ai redimensionné l'image de mon header */
header img{
    width: 100%;
    height: 100%;
}

/* Ici est la div des informations */
.info{
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

/* Ici est le texte contenant l'adresse, le numéro de téléphone et l'email de l'entreprise */
.info p1{
    margin-bottom: 20px;
}

/* Ici est la div de mon formulaire */
.form{
    background-color: white;
    padding: 30px;
    border-radius: 7px;
    box-shadow: 0px 0px 10px 4px rgba(138, 200, 215, 0.14);
}

/* Ici est la div de mon formulaire et des informations */
.content{
    width: 25em;
    position: relative;
    top: -50px;
}

/* Ici est le texte "Contactez-nous" */
.contact{
    /* background-color: lightsalmon; */
    font-size: 1.5em;
    font-weight: bold;
}

.logo img{
    width: 24px;
    height: 24px;
    cursor: pointer;
}

/* J'ai modifié la couleur du bouton ENVOYER */
.button button{
    background-color: #ff4654;
    border-radius: 50px;
    border-color: #ff4654;
    color: white;
    font-weight: bold;
    border: none;
    padding: 5px 20px;
    margin-top: 20px;
    margin-left: 35%;
}

/* J'ai modifié la couleur du bouton ENVOYER quand on hover */
.button button:hover{
    background-color: #842a34;
    cursor: pointer;
}

/* Ici, j'ai set ma box pour le choix des bouttons */
.esport_box{
    background-color: #efefef;
    border-radius: 20px;
    position: relative;
    width: 78%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
}

.toggle{
    background: transparent;
    border: 0;
    font-weight: bold;
    position: relative;
    top: -2px;
    padding: 10px 10px;
    margin-left: 7px;
    outline: none;
    cursor: pointer;
    width: 50%;
}

/* J'ai redimentionné les images des bouttons ici*/
.toggle img{
    width: 16px;
    height: 16px;
    margin-right: 10px;
    position: relative;
    top: 3px;
}

/* J'ai modifié la couleur du bouton quand on clique dessus et add l'effet de slide */
#esport_btn{
    transition: 0.2s;
    background: #0ab5ed;
    border-radius: 20px;
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input{
    background-color: #ffffff00;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 10px;
}

input:focus, input:active, textarea{
    outline: none;
}

.container{
    /* background-color: orange; */
    display: flex;
    justify-content: center;
}

.single_input{
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: column;
}

.input_size{
    display: flex;
    justify-content: space-between;
}

/* Input Nom Prénom / Code Postal Ville */
.input_size .single_input{
    width: 100%;
}

.input_size .single_input:first-child{
    margin-right: 20px;
}

.checkbox:focus, .checkbox:active{
    outline: none;
    background-color: #ff4654;
}

input[type="checkbox"] {
    accent-color: #ff4654;
}

label[for="checkbox"]{
    font-size: 80%;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
    .container{
        flex-wrap: wrap-reverse;
    }

    .form{
        width: 65%;
    }

    .info {
        width: 50%;
        text-align: left;
        padding-right: 20px;
        margin-top: 5%;
    }

    .info p1 {
        font-size: 0.8em;
    }

    .button button {
        width: 20%;
        height: 40px;
        margin-left: 40%;
    }

    .esport_box {
        width: 100%;
    }

    .toggle {
        margin: auto;
    }

    #esport_btn{
        width: 50%;
    }
    
    .input_size {
        flex-direction: column;
    }

    .input_size .single_input {
        width: 100%;
        margin-right: 0;
    }

    .input_size .single_input:first-child {
        margin-bottom: 10px;
    }
}
  
@media screen and (max-width: 480px){
    .container{
        flex-wrap: wrap-reverse;
    }

    .form{
        width: 65%;
    }

    .info {
        width: 50%;
        text-align: left;
        padding-right: 20px;
        margin-top: 10%;
    }

    .info p1 {
        font-size: 0.8em;
    }

    .button button {
        width: 50%;
        margin-left: 25%;
    }

    .esport_box {
        width: 100%;
    }

    .toggle {
        margin: auto;
    }

    #esport_btn{
        width: 50%;
    }
    
    .input_size {
        flex-direction: column;
    }

    .input_size .single_input {
        width: 100%;
        margin-right: 0;
    }

    .input_size .single_input:first-child {
        margin-bottom: 10px;
    }
}
